*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*header pricipal*/


.header-container{
    background-color: #bfc4e0;
 
}

#logo{
    width: 30vw;
}

#carrito{
    width: 6vw;
    margin: 0 10px 0 0;
    
}
/**/
#carrito:hover {
    transform: scale(1.15);
}

.fa-circle-user{
    font-size: 5vw;
}
/**/
.fa-circle-user:hover {
    transform: scale(1.15);
}

.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-flex {
    display: flex;
    align-self: center;
    background-color: white;
    padding: 1vw;
    border-radius: 25px;

}
.nav-principal{
    display: flex;
}

.nav-principal a{
    display: flex;
    text-decoration: none;
}

.burger-menu{
    font-size: 15px;
}

/* agregando barra de navegacion*/
.barra-navegacion{
    display: flex;
    justify-content: space-between;
    background-color: #df98f5;
    padding: 1vw;
}

.barra-navegacion ul{
    display: none;
    margin: auto;
}
.barra-navegacion li{
    margin: 0vw 2vw;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    background-color: #a377fc;
}

/*hasta aqui termina*/

.micarrito{
    color: black;
    display: none;
    align-items: center;
}

.ingresar{
    color: black;
    display: none;
    align-items: center;
}

.search{
    width: 30vw;
}


ul li{
    list-style: none;
    margin: 0 1vw 0 0;
}

.nav-principal{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 10px 0 0;
}

/*slider*/

.slider-frame {
	width: 60%;
    height: auto;
	margin: 0px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 300%;
	justify-content: space-between;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 101%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

}
/*barra de producto*/

h2{
    margin: 0 15px;
    font-size: 4vw;
}

section{
    padding: 20px;
    margin: auto;
}

.imagenes{
    width: 80%;
}

article{
    margin-bottom: 15px;
}

.articulo{
    padding: 10px;
    border: solid 1px black;
    background-color: white;
    border-radius: 10px;
    transition: all 0.5s;
}

.articulo:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #df98f5;
}
/* barra de producto */

/*main*/

h1{
    font-size: 4vw;
    padding: 3vw;
}

/*slider2*/

.slider {
    width: 90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 10vw;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


/*foteer*/

.footer-color{
    background-color: #bfc4e0;
}

.titulo-seccion {
    color: rgb(128, 2, 151);
    justify-content: center;
    display: flex;
    font-size: 2vw;
    
}
footer .copy{
    color: black;
    justify-content: center;
    display: flex;
    font-size: 2vw;

}
.redes-sociales{
    display: flex;
    justify-content: center;
    font-size: 4vw;
    margin: 10px;
}
.fa-twitter{
    margin: 0 30px;
}
.fa-whatsapp{
    margin: 0 30px;
}
.fa-facebook{
    margin: 0 30px;
}
.fa-instagram {
    margin: 0 30px;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-whatsapp:hover, .fa-instagram:hover {
    transform: scale(1.15);
} 
.copy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caja-padre {
    background-color: #cec1e7;
    margin: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: #cec1e7 4px solid ;
    border-radius: 10px;
}

.img1{
    font-size: 10px;
}

.info-text{
    font-size: 1vw;
}

.img {
    margin-left: 200px;
    
}
.img:hover{
    transform: scale(1.5);
}
.info-text{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

 
/*responsive*/

@media (min-width: 361px){
    .flex-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .imagenes{
       width: 100%;
    }

    .articulo{
        margin: 5px 5px;
        max-width: 50vw;
        padding: 1vw;
    }

    .burger-menu{
        display: none;
    }

    .barra-navegacion ul{
        display: contents;
    }

    h2{
        font-size: 25px;
    }

    .img1{
        font-size: 10vw;
    }

    .info-text{
        margin: 5vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
    }
    
}

@media (min-width:769px){
  
    #logo{
        width: 15%;
        margin: 0 0 0 40px;
    }

    #carrito{
        width: 3vw;
    }
    
    .nav-principal {
        margin: 0px 20px 0 0;
    }

    .fa-circle-user{
        font-size: 3vw;
    }
    
    
    .articulo{
        margin: 5px 5px;
        max-width: 18vw;
        padding: 1vw;
    }

    .flex-container{
        display: flex;
       
    }

    .barra-navegacion ul{
        display: flex;
    }

}