* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}
body {
    background-image: linear-gradient(45deg, rgb(233, 114, 114), rgb(120, 169, 231));
}

/*header pricipal*/

.header-container{
    background-color: #bfc4e0;
}

#logo{
    width: 30vw;
}

#carrito{
    width: 6vw;
    margin: 0 10px 0 0;
    
}
/**/
#carrito:hover {
    transform: scale(1.15);
}

.fa-circle-user{
    font-size: 5vw;
}
/**/
.fa-circle-user:hover {
    transform: scale(1.15);
}

.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60%;
}

.search-flex {
    display: flex;
    display: none;
    align-self: center;
    background-color: white;
    padding: 1vw;
    border-radius: 25px;

}

.nav-principal{
    display: flex;
}

.nav-principal a{
    display: flex;
    text-decoration: none;
}

.burger-menu{
    font-size: 15px;
    margin:auto;
}

/* agregando barra de navegacion*/
.barra-navegacion{
    display: flex;
    justify-content: space-between;
    background-color: #df98f5;
    padding: 1vw;
}

.barra-navegacion ul{
    display: none;
    margin: auto;
}
.barra-navegacion li{
    margin: 0vw 2vw;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    background-color: #a377fc;
}

/*hasta aqui termina*/

.micarrito{
    color: black;
    display: none;
    align-items: center;
}

.ingresar{
    color: black;
    display: none;
    align-items: center;
}

.search{
    width: 30vw;
    display: none;
}


ul li{
    list-style: none;
    margin: 0 1vw 0 0;
}

.nav-principal{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 10px 0 0;
}

/*main*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 450px;
    padding: 20px;
    background-color: rgba(191, 196, 224, 0.7);
    height: 60vh;
    margin: auto;
    display: flex;
    margin-top: 12%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.titulo {
    text-align: center;
    border: solid black 1px;
    padding: 15px;
    color: bisque;
}
.div_padre {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}

.nombre{
    width: 10px;
}

.nombre, .correo, .contraseña {
    display: flex;
    flex-direction: column;
}
    

input {
    border-radius: 10px;
    padding: 10px;
}
/*este es el texto */
.cuenta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*este es el boton */
.boton1{
    background: black;
    border: none;
    color: white;
    margin-top:10px
}
.boton2 {
    background: black;
    border: none;
    color: white;
    margin-left: 10px;
}

/*footer*/

.footer-color{
    background-color: #bfc4e0;
}

.titulo-seccion {
    color: rgb(128, 2, 151);
    justify-content: center;
    display: flex;
    font-size: 3vw;
    
}
footer .copy{
    color: black;
    justify-content: center;
    display: flex;
    font-size: 2vw;

}
.redes-sociales{
    display: flex;
    justify-content: center;
    font-size: 4vw;
    margin: 10px;
}
.fa-twitter{
    margin: 0 30px;
}
.fa-whatsapp{
    margin: 0 30px;
}
.fa-facebook{
    margin: 0 30px;
}

/*responsive del login*/

@media (min-width: 361px) {
    /*header principal*/
.container{
    width: 300px;
}
    .flex-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .burger-menu{
        display: none;
    }

    .barra-navegacion ul{
        display: flex;
    }
    .container {
        width: 90%;
        height: auto;
        margin-top: 5%;
    }

    .titulo {
        font-size: 25px;
    }

    .div_padre {
        padding: 10px;
        gap: 10px;
    }

    input {
        font-size: 14px;
        padding: 8px;
    }
}

@media (min-width: 769px) {

    .container{
        width: 35%;
        height: 37vh;
    }
    #logo{
        width: 15%;
        margin: 0 0 0 40px;
    }

    #carrito{
        width: 3vw;
    }
    
    .nav-principal {
        margin: 0px 20px 0 0;
    }

    .fa-circle-user{
        font-size: 3vw;
    }
    .boton{
        margin-left: 10px;
    }
}