* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}
body {
    background-image: linear-gradient(45deg, rgb(233, 114, 114), rgb(120, 169, 231));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 450px;
    padding: 20px;
    background-color: rgba(191, 196, 224, 0.7);
    height: 68vh;
    margin: auto;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

.titulo {
    text-align: center;
    border: solid black 1px;
    padding: 15px;
    color: bisque;
}
.div_padre {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}

.nombre, .apellido, .correo, .contraseña {
    display: flex;
    flex-direction: column;
}
    

input {
    border-radius: 10px;
    padding: 10px;
}
/*este es el texto */
.cuenta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*este es el boton */
.boton {
    background: black;
    border: none;
    color: white;
}
