<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <nav>
            <!--titulo-->
            <h1>PARADISE</h1>
            <!--enlaces-->
            <li><a href="http://localhost:3555/carrito">carrito de compras</a></li>
            <li><a href="http://localhost:3555/register">registrarse</a></li>
            <li><a href="http://localhost:3555/login">iniciar sesion</a></li>
        </nav>
        
    </header>
    
        



    
    


    
</body>
</html>