<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <!--header principal: logo, user, carito-->
    <div class="header-container">
        <img id="logo" src="/img/logo.png" alt="logo">
        
        <form class="search-flex"  action="/buscar" method="POST">
        
            <input class="search" type="text" name="buscar" placeholder="Buscar...">
            <button class="boton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <ul class="nav-principal">
            <li>
                <a href="http://localhost:3555/carrito"><img id="carrito" src="/img/carrito.png"><span class="micarrito">Mi carrito</span></a>
            </li>
            <li>
                <a href="http://localhost:3555/register"><i class="fa-regular fa-circle-user"></i><p class="ingresar">Ingresar</p></a>
            </li>
        </ul>
    </div>
<!--barra de navegacion-->
    <nav class="barra-navegacion">
        <ul class="barra-i">
            <li><a href="@">Productos</a></li>
            <li><a href="@">Beneficios</a></li>
            <li><a href="@">Seguimiento</a></li>
            <li><a href="http://localhost:3555/ayuda">Ayuda</a></li>
        </ul>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

<!--barra de navegacion-->
    </header>
    <main>
<!--slider-->
        <div class="slider-frame">
            <ul>
                <li><img src="/img/slider1.png" alt=""></li>
                <li><img src="/img/slider2.png" alt=""></li>
                <li><img src="/img/slider3.png" alt=""></li>
            </ul>
        </div>
<!--Barra de productos-->
        <h2>Ultimas novedades</h2>
        <section class="flex-container">
                <article class="articulo">
                    <a href="http://localhost:3555/detalleP"> <img class="imagenes" src="img/PCG-1.png" alt="Imagen 1"></a>
                    <div class="nombre-producto">Alienware Aurora R10</div>
                    <div class="precio-producto">$356.000</div>
                </article>
    

                <article class="articulo">
                    <img class="imagenes" src="/img/PCG-2.png" alt="Imagen 2">
                    <div class="nombre-producto">ASUS ROG Strix G15</div>
                    <div class="precio-producto">$265.000</div>
                </article>
      

                <article class="articulo">
                    <img class="imagenes" src="img/producto-3.png" alt="Imagen 3">
                    <div class="nombre-producto">Memoria RAM Vengeance</div>
                    <div class="precio-producto">$34.990</div>
                </article>
           

                <article class="articulo">
                    <img class="imagenes" src="img/producto-4.png" alt="Imagen 4">
                    <div class="nombre-producto">Cpu Watercooling Redragon</div>
                    <div class="precio-producto">$65.829</div>
                </article>
        
        </section>
    <!--hasta aqui llega-->
    </main>


















<!--slider2-->
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="/img/1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/4.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/5.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/6.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/7.jpg" alt="">
        </div>

        <div class="slide">
            <img src="/img/1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/4.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/5.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/6.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/7.jpg" alt="">
        </div>
    </div>
</div>
    
    <footer class="footer-color">
        <ul>
            <div class="contenedor">
                <h2 class="titulo-seccion">Contactanos</h2>
            </div>
            <div class="redes-sociales">
                <i class ="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="contenedor">
                <p class="copy">2023Grupo4/Todos los derechos reservados</p>
            </div>
    </footer>
    
        



    
    


    
</body>
</html>