<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Productos</title>
    <link rel="stylesheet" href="/css/detalleP.css">
</head>
<body>
    <div class="header-container">
        <a href="/"><img id="logo" src="/img/logo.png" alt="logo"></a>
        
        <form class="search-flex"  action="/buscar" method="POST">
        
            <input class="search" type="text" name="buscar" placeholder="Buscar...">
            <button class="boton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <ul class="nav-principal">
            <li>
                <a href="http://localhost:3555/carrito"><img id="carrito" src="/img/carrito.png"><span class="micarrito">Mi carrito</span></a>
            </li>
            <li>
                <a href="http://localhost:3555/register"><i class="fa-regular fa-circle-user"></i><p class="ingresar">Ingresar</p></a>
            </li>
        </ul>
    </div>
    <!--termina el header-->

    <!--empiezo con el detalle del producto-->
    <div class="conteiner">
       <img src="/img/PCG-1.png" alt="imgan1">

       <div class="descripcion">
            <div class="producto">
                <h3>ASUS ROG Strix G15</h3>
                <h3>Sistema Operativo Windonw 11</h3>
                <h3>Procesador Intel® Core™ i5-10210U de 10gw Generación </h3>
            </div>
            <h3>Precio actual: $356.000</h3>
            <h3>Descripcion:</h3>
            <p>PC de alto rendimiento diseñada específicamente para jugadores y usuarios exigentes</p>
            <p>que buscan una experiencia de juego envolvente y fluida, con un diseño atractivo y funcionalidad avanzada para garantizar</p>
            <p>un rendimiento optimo en cualquier caso</p>
            <div class="boton-padre">
                <label>
                    <button  class="boton" type="submit"><a href="http://localhost:3555/carrito" class="btn btn1">comprar</a></button>
                </label>
                

            </div>
       </div>
    </div>
    
    <!-- hasta aqui llega el detalle de producto-->
    
    <!--Agregue el slider 1-->

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="/img/1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/5.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/6.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/7.jpg" alt="">
            </div>
    
            <div class="slide">
                <img src="/img/1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/5.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/6.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/7.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>