<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="//code.tidio.co/mloqng3fmqeerxntrqhe9y4kcjalrr5u.js" async></script>
</head>
<body>
    <!--Header--> 
<%- include("partials/header.ejs") %>
<!--header-->


    <div class="containercart">
     <img src="img/carrito.png"/>
     <h2>Tus compras</h2>
    </div>

    <!--slider2-->
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="/img/1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/4.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/5.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/6.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/7.jpg" alt="">
        </div>

        <div class="slide">
            <img src="/img/1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/4.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/5.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/6.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/7.jpg" alt="">
        </div>
    </div>
</div>

<!--footer-->
<%- include("partials/footer.ejs") %>
</body>
</html>