<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <div class="header-container">
        <img id="logo" src="/img/logo.png" alt="logo">
        
        <form class="search-flex"  action="/buscar" method="POST">
        
            <input class="search" type="text" name="buscar" placeholder="Buscar...">
            <button class="boton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <ul class="nav-principal">
            <li>
                <a href="http://localhost:3555/register"><i class="fa-regular fa-circle-user"></i><p class="ingresar">Ingresar</p></a>
            </li>
        </ul>
    </div>


    <div class="container">
     <img src="img/carrito.png"/>
     <h2>Tus compras</h2>
    </div>

    <!--slider2-->
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="/img/1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/4.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/5.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/6.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/7.jpg" alt="">
        </div>

        <div class="slide">
            <img src="/img/1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/4.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/5.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/6.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/7.jpg" alt="">
        </div>
    </div>
</div>
</body>
</html>