<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>registro</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<!--Header-->
<%- include("partials/header.ejs") %>

<!--main del register-->   
    <main>
        <div class="container">
                <form action="" class="formulario" method="post" >
                    <h2 class="titulo">REGISTRARSE</h2>
                    <div class="div_padre">
    
                        <!--nombre-->
                        <div class="nombre">
                            <label for="nombre">nombre completo</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Juan">
                        </div>
    
                        <!--apellido-->
                        <div class="apellido">
                            <label for="apellido">apellido</label>
                            <input type="text" name="apellido" id="apellido" placeholder="Perez">
                        </div>
                        <!--correo-->
                        <div class="correo">
                            <label for="correo">correo</label>
                            <input type="email" name="correo" id="correo" placeholder="juanperez@gmail.com">
                        </div>
                        <!--contraseña-->
                        <div class="contraseña">
                            <label for="contraseña">contraseña</label>
                            <input type="password" name="contraseña" id="contraseña" placeholder="******">
                        </div>
                        <!--Imagen-->
                        <label for="imagendeusuario" class="form-label">Imagen de perfin:</label>
                        <input type="file" id="product-image" name="imagen">
                        <!--Categoria-->
                        <label for="categoria" class="form-label">Genero:</label>
                        <select name="category" id="category" class="form-input">
                            <option value="">Elegí</option>
                            <option value="">Masculino</option>
                            <option value="" >Femenino</option>
                        </select>
                        <!--en caso de que ya tenga cuenta-->
                        <div class="cuenta">
                            <p>ya tienes una cuenta? <a href="/login">toca aqui</a></p
                        </div>
                    </div>
                </form>
            </div>
    </main>
    
    <footer class="footer-color">
        <ul>
            <div class="contenedor">
                <h2 class="titulo-seccion">Contactanos</h2>
            </div>
            <div class="redes-sociales">
                <i class ="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="contenedor">
                <p class="copy">2023Grupo4/Todos los derechos reservados.</p>
            </div>
    </footer>

    
</body>
</html>