<footer class="footer-color">
    <ul>
        <div class="contenedor">
            <h2 class="titulo-seccion">Contactanos</h2>
        </div>
        <div class="redes-sociales">
            <i class ="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="contenedor">
            <p class="copy">2023Grupo4/Todos los derechos reservados.</p>
        </div>
</footer>