
<header>
    <!--header principal: logo, user, carito-->
    <div class="header-container">
        <a href="/" class="logo">
            <img  src="/img/logo.png" id="logo1" alt="logo">
          </a>
        <form class="search-flex"  action="/buscar" method="POST">
        
            <input class="search" type="text" name="buscar" placeholder="Buscar...">
            <button class="botton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <ul class="nav-principal">
            
            <% if (locals.isLogged) { %>
             
            
            <li>
                <a class="linkperfil" href="http://localhost:3555/usuario/perfil"><img src="/img/avatar/<%= locals.userLogged.imagen %>" class="fotoperfil"></i><p class="nameuser"><%= locals.userLogged.nombre %> <%= locals.userLogged.apellido %></p></a>
            </li>
            
            <% } else { %>

            <li class="sesion">
                <a href="http://localhost:3555/usuario/login">Iniciar sesion</a>
            </li>

            <li class="sesion1">
                <a href="http://localhost:3555/usuario/register">Registrarse</a>
            </li>
           <% } %>
        </ul>
    </div>
<!--barra de navegacion-->
    <nav class="barra-navegacion">
        <ul class="barra-i">
            <li><a href="@">Productos</a></li>
            <li><a href="@">Beneficios</a></li>
            <li><a href="@">Seguimiento</a></li>
            
            <% if (locals.isLogged) { %>
            <li><a href="/producto/create-product">Crear Producto</a></li>
            <% } %>
			<li><a href="/ayuda">Ayuda</a></li>


        </ul>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
<!--barra de navegacion-->
    </header>